# The purpose of this file is to compare Covid Case Trends with Streaming Platform Use

### As well as getting used to matplot

In [5]:
import pandas as pd
import os
import requests
import matplotlib.pyplot as plt

pwd = os.getcwd()

## Importing the Covid Data

In [8]:
dataset = pd.read_csv(pwd + "/big_query_covid_data.csv")
dataset

,date,countries_and_territories,year,daily_confirmed_cases,daily_deaths
0,2020-03-20,Chad,2020,1,0
1,2020-03-21,Chad,2020,0,0
2,2020-03-22,Chad,2020,1,0
3,2020-03-23,Chad,2020,0,0
4,2020-03-24,Chad,2020,0,0
...,...,...,...,...,...
61828,2020-02-24,Cases_on_an_international_conveyance_Japan,2020,57,1
61829,2020-02-26,Cases_on_an_international_conveyance_Japan,2020,0,1
61830,2020-03-10,Cases_on_an_international_conveyance_Japan,2020,-9,1
61831,2020-02-20,Cases_on_an_international_conveyance_Japan,2020,79,2
61832,2020-02-29,Cases_on_an_international_conveyance_Japan,2020,0,2

In [9]:
dataset_modified = dataset.copy()
dataset_modified

,date,countries_and_territories,year,daily_confirmed_cases,daily_deaths
0,2020-03-20,Chad,2020,1,0
1,2020-03-21,Chad,2020,0,0
2,2020-03-22,Chad,2020,1,0
3,2020-03-23,Chad,2020,0,0
4,2020-03-24,Chad,2020,0,0
...,...,...,...,...,...
61828,2020-02-24,Cases_on_an_international_conveyance_Japan,2020,57,1
61829,2020-02-26,Cases_on_an_international_conveyance_Japan,2020,0,1
61830,2020-03-10,Cases_on_an_international_conveyance_Japan,2020,-9,1
61831,2020-02-20,Cases_on_an_international_conveyance_Japan,2020,79,2
61832,2020-02-29,Cases_on_an_international_conveyance_Japan,2020,0,2

TypeError: groupby() got an unexpected keyword argument 'column'